In [33]:
# Import Libraries
import pandas as pd
import numpy as np
import os

In [34]:
# define path
path = r'/Users/amykillin/Desktop/Mark Career Foundry Data/Data Immersion/Topic 4/Instacart Basket Analysis'

In [35]:
# import dataframe
df = pd.read_pickle(os.path.join(path, '2 Data', 'Prepared Data', 'complete_orders_products_combined.pkl'))

In [37]:
# limit rows to first 1 million
df = df[:1000000]

In [38]:
# create a subset

df.shape

(1000000, 17)

In [39]:
# checking columns 
df.head()

,Unnamed: 0_x,product_id,product_name,aisle_id,department_id,prices,Unnamed: 0_y,order_id,user_id,eval_set,order_number,order_dow,order_hour_of_day,days_since_prior_order,add_to_cart_order,reordered,_merge
0,0,1,Chocolate Sandwich Cookies,61,19,5.8,1987,3139998,138,prior,28,6,11,3.0,5,0,both
1,0,1,Chocolate Sandwich Cookies,61,19,5.8,1989,1977647,138,prior,30,6,17,20.0,1,1,both
2,0,1,Chocolate Sandwich Cookies,61,19,5.8,11433,389851,709,prior,2,0,21,6.0,20,0,both
3,0,1,Chocolate Sandwich Cookies,61,19,5.8,12198,652770,764,prior,1,3,13,1st order,10,0,both
4,0,1,Chocolate Sandwich Cookies,61,19,5.8,12200,1813452,764,prior,3,4,17,9.0,11,1,both

# Price Labels

In [40]:
# define a new function

def price_label(row):

  if row['prices'] <= 5:
    return 'Low-range product'
  elif (row['prices'] > 5) and (row['prices'] <= 15):
    return 'Mid-range product'
  elif row['prices'] > 15:
    return 'High range'
  else: return 'Not enough data'

In [41]:
# apply the new function 

df['price_range'] = df.apply(price_label, axis=1)

In [42]:
df['price_range'].value_counts(dropna = False)

Mid-range product    652638
Low-range product    338018
High range             9344
Name: price_range, dtype: int64

In [43]:
# find max values
df['prices'].max()

24.5

In [ ]:
# run the price categories on the df

In [44]:
df.loc[df['prices'] > 15, 'price_range_loc'] = 'High-range product'

In [45]:
df.loc[(df['prices'] <= 15) & (df['prices'] > 5), 'price_range_loc'] = 'Mid-range product'

In [46]:
df.loc[df['prices'] <= 5, 'price_range_loc'] = 'Low-range product'

In [47]:
df['price_range_loc'].value_counts(dropna = False)

Mid-range product     652638
Low-range product     338018
High-range product      9344
Name: price_range_loc, dtype: int64

In [55]:
# run the price categories on the entire df_complete_orders_products_combined dataframe

In [48]:
df_complete_orders_products_combined = pd.read_pickle(os.path.join(path, '2 Data', 'Prepared Data', 'complete_orders_products_combined.pkl'))

In [ ]:
# set the parameters for the category labels

In [56]:
df_complete_orders_products_combined.loc[df_complete_orders_products_combined['prices'] > 15, 'price_range_loc'] = 'High-range product'

In [51]:
df_complete_orders_products_combined.loc[(df_complete_orders_products_combined['prices'] <= 15) & (df_complete_orders_products_combined['prices'] > 5),'price_range_loc'] = 'Mid-range product'

In [52]:
df_complete_orders_products_combined.loc[df_complete_orders_products_combined['prices'] <= 5, 'price_range_loc'] = 'Low-range product'

In [ ]:
# find the item total amounts in the new categories

In [57]:
df_complete_orders_products_combined['price_range_loc'].value_counts(dropna = False)

Mid-range product     21860860
Low-range product     10126321
High-range product      417678
Name: price_range_loc, dtype: int64

# Busiest days of the week

In [66]:
# find the number of orders each day of the week

In [60]:
df_complete_orders_products_combined['order_dow'].value_counts(dropna = False)

0    6204182
1    5660230
6    4496490
2    4213830
5    4205791
3    3840534
4    3783802
Name: order_dow, dtype: int64

In [65]:
# set the parameters for measuring busyness

In [62]:
result = []

for value in df_complete_orders_products_combined["order_dow"]:
  if value == 0:
    result.append("Busiest day")
  elif value == 4:
    result.append("Least busy")
  else:
    result.append("Regularly busy")

In [63]:
df_complete_orders_products_combined['busiest_day'] = result

In [64]:
df_complete_orders_products_combined['busiest_day'].value_counts(dropna = False)

Regularly busy    22416875
Busiest day        6204182
Least busy         3783802
Name: busiest_day, dtype: int64

In [70]:
#Saturday (0) and Sunday (1) are the days with the most orders, conversely Tuesday (4) and Wednesday (3) are 
#the days with the fewest orders

days = []

for day in df_complete_orders_products_combined['order_dow']:
  if day == 0 or day == 1:
    days.append('Busiest days')
  elif day == 4 or day == 3:
    days.append('Slowest days')
  else:
    days.append('Regular days')

In [71]:
# create the 'busiest_days' column
df_complete_orders_products_combined['busiest_days'] = days

# get the frequency of the values in the 'busiest_days' column
print('Frequency of values in the busiest_days column:\n', df_complete_orders_products_combined['busiest_days'].value_counts())

Frequency of values in the busiest_days column:
 Regular days    12916111
Busiest days    11864412
Slowest days     7624336
Name: busiest_days, dtype: int64

In [73]:
# check the output of the 'orders_day_of_week' and the 'busiest_days' column for accuracy
print('Output of the order_dow and the busiest_days column:\n', df_complete_orders_products_combined[['order_dow', 'busiest_days']].head(10))

Output of the order_dow and the busiest_days column:
    order_dow  busiest_days
0          6  Regular days
1          6  Regular days
2          0  Busiest days
3          3  Slowest days
4          4  Slowest days
5          1  Busiest days
6          2  Regular days
7          3  Slowest days
8          1  Busiest days
9          1  Busiest days

In [75]:
# get the frequency of the values in the 'order_hour_of_day' column
print('Frequency of values in the order_hour_of_day column:\n', df_complete_orders_products_combined['order_hour_of_day'].value_counts())

Frequency of values in the order_hour_of_day column:
 10    2761760
11    2736140
14    2689136
15    2662144
13    2660954
12    2618532
16    2535202
9     2454203
17    2087654
8     1718118
18    1636502
19    1258305
20     976156
7      891054
21     795637
22     634225
23     402316
6      290493
0      218769
1      115700
5       87961
2       69375
4       53242
3       51281
Name: order_hour_of_day, dtype: int64

In [76]:
# create a for-loop that append to the 'hours' list the busyness of the hours based on values in the 'order_hour_of_day' column
hours = []

for hour in df_complete_orders_products_combined['order_hour_of_day']:
  if hour in [10, 11, 14, 15, 13, 12, 16, 9]:
    hours.append('Most orders')
  elif hour in [23, 6, 0, 1, 5, 2, 4, 3]:
    hours.append('Fewest orders')
  else:
    hours.append('Average orders')

In [77]:
# create the 'busiest_period_of_day' column
df_complete_orders_products_combined['busiest_period_of_day'] = hours

In [78]:
# check the output of the 'order_hour_of_day' and the 'busiest_period_of_day' column for accuracy
df_complete_orders_products_combined[['order_hour_of_day', 'busiest_period_of_day']].head(10)

   order_hour_of_day busiest_period_of_day
0                 11           Most orders
1                 17        Average orders
2                 21        Average orders
3                 13           Most orders
4                 17        Average orders
5                  7        Average orders
6                 14           Most orders
7                 10           Most orders
8                 20        Average orders
9                 12           Most orders

In [80]:
# get the frequency of the values in the 'busiest_period_of_day' column
print('Frequency of values in the busiest_period_of_day column:\n', df_complete_orders_products_combined['busiest_period_of_day'].value_counts())

Frequency of values in the busiest_period_of_day column:
 Most orders       21118071
Average orders     9997651
Fewest orders      1289137
Name: busiest_period_of_day, dtype: int64

In [82]:
# export df_ords_merged in .pkl format
df_complete_orders_products_combined.to_pickle(r'/Users/amykillin/Desktop/Mark Career Foundry Data/Data Immersion/Topic 4/Instacart Basket Analysis/2 Data/Prepared Data/df_complete_orders_products_combined_4.7.pkl')