In [1]:
#Import Libraries

import pandas as pd
import numpy as np
import os
import matplotlib.pyplot as plt
import seaborn as sns
import scipy

In [2]:
# define path
path = r'/Users/amykillin/Desktop/Mark Career Foundry Data/Data Immersion/Topic 4/Instacart Basket Analysis'

In [3]:
# import customer dataframe

df = pd.read_csv(os.path.join(path, '2 Data', 'Original Data', 'customers.csv'), index_col = False)

In [4]:
# import merged dataframe from 4.8

df_merge = pd.read_pickle(os.path.join( path, '2 Data', 'Prepared Data', 'orders_products_merged_updated_4.8_revised.pkl'))

In [5]:
df_merge.dtypes

Unnamed: 0_x                 int64
product_id                   int64
product_name                object
aisle_id                     int64
department_id                int64
prices                     float64
Unnamed: 0_y                 int64
order_id                     int64
user_id                      int64
eval_set                    object
order_number                 int64
order_dow                    int64
order_hour_of_day            int64
days_since_prior_order      object
add_to_cart_order            int64
reordered                    int64
_merge                    category
price_range_loc             object
busiest_day                 object
busiest_days                object
busiest_period_of_day       object
max_order                    int64
loyalty_flag                object
average_price              float64
spending_flag               object
median_prior_orders        float64
order_frequency_flag        object
dtype: object

In [6]:
df_merge = df_merge.drop(columns = ['_merge'])

In [7]:
df.head()

,user_id,First Name,Surnam,Gender,STATE,Age,date_joined,n_dependants,fam_status,income
0,26711,Deborah,Esquivel,Female,Missouri,48,1/1/2017,3,married,165665
1,33890,Patricia,Hart,Female,New Mexico,36,1/1/2017,0,single,59285
2,65803,Kenneth,Farley,Male,Idaho,35,1/1/2017,2,married,99568
3,125935,Michelle,Hicks,Female,Iowa,40,1/1/2017,0,single,42049
4,130797,Ann,Gilmore,Female,Maryland,26,1/1/2017,1,married,40374

In [8]:
df.dtypes

user_id          int64
First Name      object
Surnam          object
Gender          object
STATE           object
Age              int64
date_joined     object
n_dependants     int64
fam_status      object
income           int64
dtype: object

In [9]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 206209 entries, 0 to 206208
Data columns (total 10 columns):
 #   Column        Non-Null Count   Dtype
---  ------        --------------   -----
 0   user_id       206209 non-null  int64
 1   First Name    194950 non-null  object
 2   Surnam        206209 non-null  object
 3   Gender        206209 non-null  object
 4   STATE         206209 non-null  object
 5   Age           206209 non-null  int64
 6   date_joined   206209 non-null  object
 7   n_dependants  206209 non-null  int64
 8   fam_status    206209 non-null  object
 9   income        206209 non-null  int64
dtypes: int64(4), object(6)
memory usage: 15.7+ MB

In [12]:
# Notes for me about the naming of the columns to clarify and tidy
...
# user_id is fine, it is basically the account reference number
# First Name should be called 'first_name'
# Surnam should be'last_name'
# Age should be age, IS relevant
# n_dependants should be number_of_dependants, IS relevant
# income should perhaps be annual_income, IS relevant

In [10]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 206209 entries, 0 to 206208
Data columns (total 10 columns):
 #   Column        Non-Null Count   Dtype
---  ------        --------------   -----
 0   user_id       206209 non-null  int64
 1   First Name    194950 non-null  object
 2   Surnam        206209 non-null  object
 3   Gender        206209 non-null  object
 4   STATE         206209 non-null  object
 5   Age           206209 non-null  int64
 6   date_joined   206209 non-null  object
 7   n_dependants  206209 non-null  int64
 8   fam_status    206209 non-null  object
 9   income        206209 non-null  int64
dtypes: int64(4), object(6)
memory usage: 15.7+ MB

In [11]:
# Renaming the columns with clearer titles

df.rename(columns = {'First Name' : 'first_name'}, inplace = True)

In [12]:
df.rename(columns = {'Surnam' : 'surname'}, inplace = True)

In [13]:
df.rename(columns = {'Age' : 'age'}, inplace = True)

In [14]:
df.rename(columns = {'n_dependants' : 'number_of_dependants'}, inplace = True)

In [15]:
df.rename(columns = {'income' : 'spending_power'}, inplace = True)

In [16]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 206209 entries, 0 to 206208
Data columns (total 10 columns):
 #   Column                Non-Null Count   Dtype
---  ------                --------------   -----
 0   user_id               206209 non-null  int64
 1   first_name            194950 non-null  object
 2   surname               206209 non-null  object
 3   Gender                206209 non-null  object
 4   STATE                 206209 non-null  object
 5   age                   206209 non-null  int64
 6   date_joined           206209 non-null  object
 7   number_of_dependants  206209 non-null  int64
 8   fam_status            206209 non-null  object
 9   spending_power        206209 non-null  int64
dtypes: int64(4), object(6)
memory usage: 15.7+ MB

In [17]:
# Checking for non values in all the columns

df.value_counts()

user_id  first_name  surname  Gender  STATE           age  date_joined  number_of_dependants  fam_status                        spending_power
1        Linda       Nguyen   Female  Alabama         31   2/17/2019    3                     married                           40423             1
137533   Pamela      Jordan   Female  Mississippi     81   3/8/2017     0                     divorced/widowed                  149021            1
137524   Joe         Dennis   Male    North Carolina  49   7/31/2018    3                     married                           168826            1
137525   Jeremy      Bennett  Male    North Dakota    44   3/26/2017    1                     married                           143155            1
137526   Jack        Bryan    Male    Ohio            41   12/11/2017   2                     married                           41253             1
                                                                                                                                                 ..
68823    Janice      Drake    Female  New Hampshire   43   12/11/2019   3                     married                           127050            1
68824    Jason       Mcgee    Male    New Jersey      78   5/4/2017     0                     divorced/widowed                  136277            1
68825    Anna        Allison  Female  New Mexico      52   11/12/2018   3                     married                           41086             1
68826    Sean        Hinton   Male    New York        21   3/22/2017    2                     living with parents and siblings  77065             1
206209   Diana       Donovan  Female  Iowa            74   9/14/2019    3                     married                           137969            1
Length: 194950, dtype: int64

In [18]:
df.isnull().sum()

user_id                     0
first_name              11259
surname                     0
Gender                      0
STATE                       0
age                         0
date_joined                 0
number_of_dependants        0
fam_status                  0
spending_power              0
dtype: int64

In [19]:
df['first_name'].value_counts(dropna = False)

NaN        11259
Marilyn     2213
Barbara     2154
Todd        2113
Jeremy      2104
           ...
Merry        197
Eugene       197
Garry        191
Ned          186
David        186
Name: first_name, Length: 208, dtype: int64

In [20]:
# There are 11259 NaN values for first_name

In [21]:
for col in df.columns.tolist():
  weird = (df[[col]].applymap(type) != df[[col]].iloc[0].apply(type)).any(axis = 1)
  if len (df[weird]) > 0:
    print (col)

first_name

In [22]:
# Change data type of 'first_name' to string

df['first_name'] = df['first_name'].astype('str')

In [23]:
# Test to see if we still have mixed data types

In [24]:
for col in df.columns.tolist():
  weird = (df[[col]].applymap(type) != df[[col]].iloc[0].apply(type)).any(axis = 1)
  if len (df[weird]) > 0:
    print (col)

In [25]:
df.dtypes

user_id                  int64
first_name              object
surname                 object
Gender                  object
STATE                   object
age                      int64
date_joined             object
number_of_dependants     int64
fam_status              object
spending_power           int64
dtype: object

In [26]:
# All column formats are now accurate

In [27]:
# Checking now for duplicate values

df_dups = df[df.duplicated()]

In [28]:
df_dups

Empty DataFrame
Columns: [user_id, first_name, surname, Gender, STATE, age, date_joined, number_of_dependants, fam_status, spending_power]
Index: []

In [29]:
# No Duplicates

In [30]:
# Combine with 4.8

In [31]:
df.info

<bound method DataFrame.info of         user_id first_name   surname  Gender           STATE  age date_joined  \
0         26711    Deborah  Esquivel  Female        Missouri   48    1/1/2017
1         33890   Patricia      Hart  Female      New Mexico   36    1/1/2017
2         65803    Kenneth    Farley    Male           Idaho   35    1/1/2017
3        125935   Michelle     Hicks  Female            Iowa   40    1/1/2017
4        130797        Ann   Gilmore  Female        Maryland   26    1/1/2017
...         ...        ...       ...     ...             ...  ...         ...
206204   168073       Lisa      Case  Female  North Carolina   44    4/1/2020
206205    49635     Jeremy   Robbins    Male          Hawaii   62    4/1/2020
206206   135902      Doris  Richmond  Female        Missouri   66    4/1/2020
206207    81095       Rose   Rollins  Female      California   27    4/1/2020
206208    80148    Cynthia     Noble  Female        New York   55    4/1/2020

        number_of_dependants fam_status  spending_power
0                          3    married          165665
1                          0     single           59285
2                          2    married           99568
3                          0     single           42049
4                          1    married           40374
...                      ...        ...             ...
206204                     1    married          148828
206205                     3    married          168639
206206                     2    married           53374
206207                     1    married           99799
206208                     1    married           57095

[206209 rows x 10 columns]>

In [14]:
df_merge.info

<bound method DataFrame.info of           Unnamed: 0_x  product_id                product_name  aisle_id  \
0                    0           1  Chocolate Sandwich Cookies        61
1                    0           1  Chocolate Sandwich Cookies        61
2                    0           1  Chocolate Sandwich Cookies        61
3                    0           1  Chocolate Sandwich Cookies        61
4                    0           1  Chocolate Sandwich Cookies        61
...                ...         ...                         ...       ...
32404854         49692       49688      Fresh Foaming Cleanser        73
32404855         49692       49688      Fresh Foaming Cleanser        73
32404856         49692       49688      Fresh Foaming Cleanser        73
32404857         49692       49688      Fresh Foaming Cleanser        73
32404858         49692       49688      Fresh Foaming Cleanser        73

          department_id  prices  Unnamed: 0_y  order_id  user_id eval_set  \
0                    19     5.8          1987   3139998      138    prior
1                    19     5.8          1989   1977647      138    prior
2                    19     5.8         11433    389851      709    prior
3                    19     5.8         12198    652770      764    prior
4                    19     5.8         12200   1813452      764    prior
...                 ...     ...           ...       ...      ...      ...
32404854             11    13.5       3321928   1788356   200215    prior
32404855             11    13.5       3324686   3401313   200377    prior
32404856             11    13.5       3332310    809510   200873    prior
32404857             11    13.5       3332314   2359893   200873    prior
32404858             11    13.5       3416620   2385091   205926    prior

          ...    price_range_loc     busiest_day  busiest_days  \
0         ...  Mid-range product  Regularly busy  Regular days
1         ...  Mid-range product  Regularly busy  Regular days
2         ...  Mid-range product     Busiest day  Busiest days
3         ...  Mid-range product  Regularly busy  Slowest days
4         ...  Mid-range product      Least busy  Slowest days
...       ...                ...             ...           ...
32404854  ...  Mid-range product     Busiest day  Busiest days
32404855  ...  Mid-range product      Least busy  Slowest days
32404856  ...  Mid-range product  Regularly busy  Slowest days
32404857  ...  Mid-range product  Regularly busy  Slowest days
32404858  ...  Mid-range product  Regularly busy  Busiest days

         busiest_period_of_day  max_order      loyalty_flag average_price  \
0                  Most orders         32  Regular customer      6.935811
1               Average orders         32  Regular customer      6.935811
2               Average orders          5      New customer      7.930208
3                  Most orders          3      New customer      4.972414
4               Average orders          3      New customer      4.972414
...                        ...        ...               ...           ...
32404854           Most orders          6      New customer      8.220313
32404855           Most orders          4      New customer      7.364516
32404856        Average orders         20  Regular customer      8.500344
32404857           Most orders         20  Regular customer      8.500344
32404858           Most orders         11  Regular customer      8.133333

         spending_flag median_prior_orders   order_frequency_flag
0          Low spender                 8.0      Frequent customer
1          Low spender                 8.0      Frequent customer
2          Low spender                 8.0      Frequent customer
3          Low spender                13.0       Regular customer
4          Low spender                13.0       Regular customer
...                ...                 ...                    ...
32404854   Low spender                20.0       Regular customer
32404855   Low spender                30.0  Non-frequent customer
32404856   Low spender                 6.0      Frequent customer
32404857   Low spender                 6.0      Frequent customer
32404858   Low spender                 6.0      Frequent customer

[32404859 rows x 26 columns]>

In [32]:
df_merge.dtypes

Unnamed: 0_x                int64
product_id                  int64
product_name               object
aisle_id                    int64
department_id               int64
prices                    float64
Unnamed: 0_y                int64
order_id                    int64
user_id                     int64
eval_set                   object
order_number                int64
order_dow                   int64
order_hour_of_day           int64
days_since_prior_order     object
add_to_cart_order           int64
reordered                   int64
price_range_loc            object
busiest_day                object
busiest_days               object
busiest_period_of_day      object
max_order                   int64
loyalty_flag               object
average_price             float64
spending_flag              object
median_prior_orders       float64
order_frequency_flag       object
dtype: object

In [33]:
#new merge of the new customers (df) to ords prods merge (df_merge) df


df_merged_clean = df_merge.merge(df, on = 'user_id', indicator = True)

In [34]:
df_merge.shape

(32404859, 26)

In [35]:
df_merged_clean.dtypes

Unnamed: 0_x                 int64
product_id                   int64
product_name                object
aisle_id                     int64
department_id                int64
prices                     float64
Unnamed: 0_y                 int64
order_id                     int64
user_id                      int64
eval_set                    object
order_number                 int64
order_dow                    int64
order_hour_of_day            int64
days_since_prior_order      object
add_to_cart_order            int64
reordered                    int64
price_range_loc             object
busiest_day                 object
busiest_days                object
busiest_period_of_day       object
max_order                    int64
loyalty_flag                object
average_price              float64
spending_flag               object
median_prior_orders        float64
order_frequency_flag        object
first_name                  object
surname                     object
Gender                      object
STATE                       object
age                          int64
date_joined                 object
number_of_dependants         int64
fam_status                  object
spending_power               int64
_merge                    category
dtype: object

In [39]:
# Dropping columns we do not need to analyse
# Error message since I already did this and I had to repeat to solve a problem

df_merged_clean = df_merged_clean.drop(columns = ['_merge','Unnamed: 0_y'])

In [40]:
df_merged_clean.rename(columns = {'First Name' : 'first_name'}, inplace = True)

In [41]:
df_merged_clean.rename(columns = {'Surnam' : 'surname'}, inplace = True)

In [42]:
df_merged_clean.rename(columns = {'Age' : 'age'}, inplace = True)

In [43]:
df_merged_clean.rename(columns = {'n_dependants' : 'number_of_dependants'}, inplace = True)

In [44]:
df_merged_clean.rename(columns = {'income' : 'spending_power'}, inplace = True)

In [45]:
df_merged_clean.dtypes

Unnamed: 0_x                int64
product_id                  int64
product_name               object
aisle_id                    int64
department_id               int64
prices                    float64
order_id                    int64
user_id                     int64
eval_set                   object
order_number                int64
order_dow                   int64
order_hour_of_day           int64
days_since_prior_order     object
add_to_cart_order           int64
reordered                   int64
price_range_loc            object
busiest_day                object
busiest_days               object
busiest_period_of_day      object
max_order                   int64
loyalty_flag               object
average_price             float64
spending_flag              object
median_prior_orders       float64
order_frequency_flag       object
first_name                 object
surname                    object
Gender                     object
STATE                      object
age                         int64
date_joined                object
number_of_dependants        int64
fam_status                 object
spending_power              int64
dtype: object

In [61]:
# Export to Pickle file

In [47]:
df_merged_clean.to_pickle(os.path.join(path, '2 Data','Prepared Data', 'ords_prods_customer_merge_4.9_part_one.pkl'))